.completed {
  text-decoration: line-through;
  opacity: 0.5;
  margin-right: 1rem;
}

.todo, .inputForm {
  
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}


.loginbtn {
  margin: 5px 0px 10px 0.2rem;
}

.inpform {
  width: 50%;
  margin:auto;
}

.notcompleted {
  margin-right: 1rem;
}

body{
  background-color:#ececec;
}

form {
  text-align:center;
}

.applya{
  margin-bottom: 30px;
  width: 300px;
  height: 100px;
}

.applys{
  margin-bottom: 20px;
}